<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099116994784-l2dac2aisimd8og4pthvbgjft2div6lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099116994784-l2dac2aisimd8og4pthvbgjft2div6lp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1099116994784-198ncm65h9ao1ci9giib4hdaesd6db11.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoCOXOIWvXsoEssBD9AzURhdNdLNGFJI8</string>
	<key>GCM_SENDER_ID</key>
	<string>1099116994784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixteenbrains.eduMore</string>
	<key>PROJECT_ID</key>
	<string>edu-more</string>
	<key>STORAGE_BUCKET</key>
	<string>edu-more.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099116994784:ios:104ac04cd09344f43db085</string>
</dict>
</plist>